.formPembelian {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  height: 100%;
  padding: 0 21px 21px;
  border: 2px solid black;
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
}

.text-center {
  text-align: center;
}

.daftarItem {
  padding: 8px 0;
  text-align: left;
  vertical-align: bottom;
}

.input {
  padding: 8px 32px;
}

#submitButton {
  background-color: white;
  border-radius: 16px;
}

h1 {
  text-align: center;
}

.tabelBuah {
  margin: auto;
  margin-top: 5px;
  width: 540px;
  border: 2px solid black;
  height: 300px;
  border-radius: 5px;
}

.tabelBuah th {
  background-color: #d1d1d1;
  border: 1px solid black;
  padding-right: 40px;
  padding-left: 40px;
}

.tabelBuah td {
  background-color: orangered;
  border: 1px solid black;
  text-align:left;
}

.tabelBuah table {
  border: 1px solid black;
  margin: 0 auto 0 auto;
  text-align: center;
}

/*-------------------- NAVBAR --------------------*/

.navbar{
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  position: fixed;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar ul li{
  float: left;
}
.navbar ul li a{
  margin-top: 15px;
  margin-right: 52px;
  margin-left: 52px;
  display: block;
  color: rgb(251, 255, 0); 
  text-align: center;
  padding: 4px 8px ;
  text-decoration: none;
  border: 3px solid rgb(134, 93, 17);
  border-radius: 15%;
}
/*---------------------------------------------------*/